graft docs
graft src
graft tests

include CHANGELOG.md
include CONTRIBUTING.md
include CONTRIBUTORS.md
include LICENSE.txt
include LICENSES-3RD-PARTY.txt
include README.md
include versioneer.py

exclude .git*

prune docs/images
prune docs/_build

global-exclude *.py[cod] __pycache__ *.so *.dylib
