graft docs
graft src
graft tests

include CHANGELOG.rst
include CONTRIBUTING.rst
include CONTRIBUTORS.rst
include LICENSE.txt
include LICENSES-3RD-PARTY.txt
include README.rst
include versioneer.py

exclude .git* .travis*

prune docs/images

global-exclude *.py[cod] __pycache__ *.so *.dylib
