[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
ruff = "*"
sybil = "*"

[packages]
lineage = {editable = true,path = "."}

[requires]
python_version = "3.12"
